@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
    --blue: #28256B;
    --white: #FFFFFF;
    --pink: #F2357B;
}

* {
    font-family: 'Share Tech Mono', monospace;
}

body {
    padding: 0 4%;
    margin:0;
}

button {
    width: fit-content;
    align-self: center;
    background-color: var(--blue);
    margin: 0  8px;
    padding: 12px 32px;
    color: white;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

button:focus {
    outline: unset
}

.main {
    width: 100vw;
}

.carousel {

}

.slides-wrapper {
    padding:0 ;
    margin:0;
}

.slide > * {
    width: 100%;
}